@charset 'utf-8';

.movie {
  display: flex;
  width: 45%;
  margin-bottom: var(--updown-space);
  padding: calc(var(--base-space) * 2);
  background-color: var(--movie-bg-color);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.movie__poster {
  position: relative;
  top: -50px;
  max-width: 140px;
  max-height: 200px;
  margin-right: calc(var(--base-space) * 2);
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.movie__title {
  margin-top: var(--base-space);
  margin-bottom: calc(var(--base-space) / 2);
  font-size: 24px;
  color: #2c2c2c;
}
.movie__year {
  color: #333;
  font-size: var(--font-size);
}
.movie__genres {
  display: flex;
  flex-wrap: wrap;
}
.genres__genre {
  margin-right: var(--base-space);
  color: #ccc;
}
.movie__summary {
  margin-top: calc(var(--base-space) * 2);
  font-size: var(--font-size);
}
