@charset 'utf-8';
/* common */
body {
  margin: 0;
  background: #00000070;
}
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  margin: 40px auto 0;
}
.movies {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.movie:first-child {
  margin-top: 0;
}
.movie {
  display: flex;
  justify-content: space-between;
  width: 49%;
  padding: 10px;
  box-sizing: border-box;
  background: #f1f1f1;
  box-shadow: 1px 1px 10px 2px #00000070;
}
.movie:nth-child(2n-1) {
}
.movie:nth-child(2n + 1),
.movie:nth-child(2n) {
  margin-top: 40px;
}
.movie:nth-child(1),
.movie:nth-child(2) {
  margin-top: 0;
}
.movie__poster {
  width: 40%;
  margin-right: 10px;
  transform: translateY(-30px);
}
.movie__info {
  width: 60%;
}
.movie__title {
  padding: 10px 0 5px;
}
.moive__year {
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
}
